html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.caixa-moldura { 
    border: 2px solid #000; /* Cor e espessura da borda */ 
    padding: 20px; /* Espaçamento interno */ 
    margin: 20px; /* Espaçamento externo */ 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra da caixa */
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

button, input, optgroup, select, textarea {
    padding: 10px 20px;
    background-color: #77aaff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button, select, html input[type=button], input[type=reset], input[type=submit], button[disabled], html input[disabled] {
    padding: 10px 20px;
    background-color: #77aaff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    blockquote, pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    img, tr {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    h2, h3, p {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    select {
        background: #fff !important;
    }

    .navbar {
        display: none;
    }

    .table td, .table th {
        background-color: #fff !important;
    }

    .btn > .caret, .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }

    .label {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #ddd !important;
    }
}
